{
  "extends": [
    "eslint:recommended",
    "taro",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended"
  ],
  "plugins": ["@typescript-eslint"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "tsconfigRootDir": "./client",
    "project": "tsconfig.json",
    "createDefaultProgram": true
  },
  "rules": {
    "no-undef": "error",
    "no-unused-vars": ["error", { "varsIgnorePattern": "Taro|React" }],
    // "no-unused-vars": ["error"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx"] }],
    "@typescript-eslint/no-unused-vars": ["error", { "varsIgnorePattern": "Taro|React" }],
    "@typescript-eslint/ban-ts-ignore": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/no-empty-function": 0,
    "@typescript-eslint/explicit-function-return-type": 0
  }
}
