.page {
  .imgCon {
    padding: 0 32px;
    .imgBlock {
      margin: 20px 0 10px;
      font-size: 34px;
      font-weight: bold;
    }
    .imgDesc {
      margin: 10px 0;
    }
    .img {
      width: 100%;
      margin-bottom: 26px;
    }
  }
  .videoCon {
    margin-top: 20px;
  }
  .tabs {
    &.tabHide {
      :global {
        .at-tabs__header {
          display: none;
        }
      }
    }
    :global {
      .at-tabs__header {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
        background-color: #fff;
        .at-tabs__item {
          font-weight: 600;
        }
        .at-tabs__item-underline {
          height: 4px;
        }
      }
    }
    .orderList {
      box-sizing: border-box;
      height: 100vh;
      padding-top: 86px;
      // padding-bottom: 40px;
      &.withoutTop {
        padding-top: 0;
      }
    }
  }

  .videoTab {
    padding: 0 16px;
  }

  .pickerClass {
    position: fixed;
    bottom: 15%;
    right: -98%;
    z-index: 1000;
    .text {
      font-size: 26px;
    }
  }
  .authBtn {
    margin-top: 50px;
  }

  .videoAdCon {
    margin-top: 140px;
  }
  .imageAdCon {
    padding: 0 32px;
    margin-top: 60px;
    margin-bottom: 100px;
  }
}
