.title1 {
  margin: 20px 32px;
  color: #333;
  font-size: 36px;
  padding: 0 14px;
  font-weight: bold;
  border-left: 16px solid #8a61e8;
}
.title2 {
  margin: 0 32px 20px;
  color: #333;
  font-size: 30px;
  padding: 0 12px;
  border-left: 10px solid #6190e8;
}
